.img8 {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    filter: drop-shadow(7px 6px 2px rgba(0, 0, 0, 0.488));
}

.contFlu {
    background-color: rgb(255, 255, 255);
}

.alfajorDescription {
    text-align: left;
}

.imgAlfatuc {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(60px 1px 80px rgb(240, 172, 36));
}

.divwp {
    display: flex;
    align-items: center;
    justify-content: center;

}

.botonwp2 {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.488);
}

.alfajorclas {
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.316)) ;
}