:root {
  --colorOne: #fccb38;
  --colorTwo: #c8963e;
  --colorThree: #d1462f;
  --colorFour: #fff;
}

body {
  font-family: "roca", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-image: url('/src/assets/Fondo Grande3.png');
} 