.columnaCategorias{
  background-image: url('/src/assets/bannerProductos.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 250px;
  padding: 0px;
  margin: 0px;
}

.columnaCategorias h1{
  margin: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px;
    width: 100%;
    height: 100%;
    
}
  
  .cardProduct {
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }


  .nameProduct {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cardProduct  .priceProduct{
    color: #c8963e;
  }
  
  .product-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 10px;
    width: 50%;
    margin: auto;
  }
  
  .product-buttons .btnAddCart,
  .product-buttons .btnVisibility {
    background-color: #c8963e;
    
    border: none;
    border-radius: 4px;
  }
  
  .btnVisibility {
    
    margin-left: 3px;
  }
  
  .product-buttons button {
    position: relative;
  }
  
  .product-buttons button::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    
  }
  
  .product-buttons button:hover::after {
    opacity: 1;
  }

  


